@media (min-width: 769px) {
  .swiper-slide {
    transition: all 0.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(0.5);
    transform: perspective(1000px) rotateX(5deg) !important;
  }
  
  .swiper-slide-active {
    transform: perspective(1000px) scale(1.1) rotateX(-5deg) !important;
    z-index: 2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    filter: brightness(1);
  }
  
  .swiper-slide-prev,
  .swiper-slide-next {
    filter: brightness(0.5);
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  
  .swiper-pagination {
    display: none;
  }
  
  .swiper {
    padding: 48px 0;
  }
}

@media (max-width: 768px) {

  .swiper-slide {
    transition: all 0.5s ease-in-out;
    transform-origin: center center;
    transform: perspective(1000px) rotateX(-5deg) !important;
  }

  .swiper-slide-active {
    transform: perspective(1000px)  rotateX(5deg) !important;
    z-index: 2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    filter: brightness(1);
  }

  .swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex !important;
    justify-content: center;
    margin-top: 0;
  }
  
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
    margin: 0 4px;
    border-radius: 50%;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #fff;
    opacity: 1;
  }
}